<div>
  <h2 id="page-heading" data-cy="ReleaseHeading">
    <span jhiTranslate="consumptionDbApp.consumptionDbRelease.home.title">Releases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="consumptionDbApp.consumptionDbRelease.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-release"
        [routerLink]="['/consumptiondb/release/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="consumptionDbApp.consumptionDbRelease.home.createLabel"> Create a new Release </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="releases?.length === 0">
    <span jhiTranslate="consumptionDbApp.consumptionDbRelease.home.notFound">No Releases found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="releases && releases.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="consumptionDbApp.consumptionDbRelease.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="consumptionDbApp.consumptionDbRelease.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="consumptionDbApp.consumptionDbRelease.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="method.id">
            <div class="d-flex">
              <span jhiTranslate="consumptionDbApp.consumptionDbRelease.method">Method</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let release of releases; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/consumptiondb/release', release.id, 'view']">{{ release.id }}</a>
          </td>
          <td>{{ release.name }}</td>
          <td>{{ release.date | formatMediumDatetime }}</td>
          <td>{{ release.description }}</td>
          <td>
            <span *ngFor="let method of release.methods; let last = last">
              <a class="form-control-static" [routerLink]="['/consumptiondb/method', method.id, 'view']">{{ method.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/consumptiondb/release', release.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/consumptiondb/release', release.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(release)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
